.card {
  size: 200px;
}

.image-container {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: auto;
  height: auto;
}
.card-title {
  text-align: left;
  font-family: "Arial", sans-serif;
  font-size: 20px;
}

.card-content {
  text-align: start;
  font-family: "Arial", sans-serif;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 15px;
}

.card-created {
  font-family: "Arial", sans-serif;
  font-size: 17px;
}

.card-button {
  margin-top: 0px;
  display: block;
}
