.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  width: 100%;
  position: relative;
}
.footer p {
  background-color: inherit;
}
