/* Reset und Basiseinstellungen */
html {
  /* background-color: #282c34; */
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Komponenten-Stile */

.App-header,
.App-main,
.App-main-home {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.App-main {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.App-main-home {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Modale */

.modal-title {
  color: white !important;
}
.Modal-header {
  background-color: #282c34;
  color: #282c34;
}

.Modal-body_login {
  background-color: #282c34;
  color: #282c34;
}

.Modal-body_logout {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #282c34;
  color: #282c34;
}
.Modal-footer {
  background-color: #282c34 !important;
  color: #282c34;
}

.Textbox {
  margin-bottom: 5px;
}
